html{ 
	background-color: #BDBDBD;
}

header{
	max-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 2%;
	border-bottom:5px solid #096D59;
	}

nav ul, footer ul{
	position:relative;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:200px;
	height:100px;
	margin:auto;
	list-style:none;
	padding:0px;
	border-top: 4px solid #096D59;
}

nav li, footer li {
	width: 190px;
	height: 48px;
	float: left;
	text-align: center;
	background:#717171;
	font-family: sans-serif;
	line-height: 3.6;
	text-shadow: 0px 1px 1px #717171;
	margin: 1px;
	border: 2px solid #575757;
}

li > ul {
	position:relative;
	width:190px;
	clear:both;
	/* Hide the Submenus */
	display:none;
}

nav ul li a, nav ul li{
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
	font-size: 1em;
}

nav ul li a{
	padding: .5em;
	text-align: center;
}
nav ul li.active a {
    color: #00A17E;
	background-color: #0E0E0E;
}

nav ul li a:hover {
    color: #0E0E0E;
}

nav ul.hide{
    display: none;
}

footer{
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: space-around;
	align-content: center;
	font-family: 'Dosis', sans-serif;
	color: #FFFFFF;
	font-size: 1em;
	padding: 2%;
	border-top:5px solid #096D59;
	text-shadow: 1px 2px 2px #0E0E0E;
}


footer a{
	font-family: 'Dosis', sans-serif;
	width: 190px;
	height: 48px;
	float: left;
	text-align: center;
	background:#717171;
	line-height: 3.6;
	text-shadow: 0px 1px 1px #717171;
	font-size: 1em;
	margin: 1px;
	border: 2px solid #575757;
	color: #ffffff;
}

footer button{
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: 0;
}

.gallery {
	display: flex;
	flex-flow: column-reverse nowrap;
	align-content: center;
	justify-content: center;
	padding: 2%;
  }

.item5{
	border: 5px solid #717171;
	padding: 2%;
	background-color: #0E0E0E;
	margin-bottom: 2%;
	}

h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 5em;
	color: #ffffff;
	text-shadow: 1px 2px 2px #717171;
	text-align: center;
}

h3{
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	color: #056D59;
	text-shadow: 1px 2px 2px #00A17E;
	margin-top: 0;
	padding-top: 0;
}

.tour p, .tour2 p{
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	color: #0E0E0E;
	text-shadow: 1px 2px 2px #717171;
	text-align: center;
}

.item5 p{
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	color: #00A17E;
	}

.map{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	}

.map h2{
	font-size: 6em;
	padding: 0;
	margin: 0;
}

#map{
	align-items: center;
	padding-bottom: 4em;
	padding-top: 1.5em;
}

div img:hover {
        box-shadow: 20px 20px 30px #0E0E0E;
    }
	
.item5:hover{
	box-shadow: 20px 20px 30px #096D59;
	}
	
.maintour{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: center;
	padding: 2%;
}

.maintour p{
	width: 90%;
	text-align: center;
}

.tour, .tour2{
	margin: 3%;
}

.advent{
	width: 100%;
	padding-top: 2%;
}

form#contactus {
	width: 45%;
	padding: .8em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 1em;	
}

fieldset {
    border-radius: 1em;
    background-color: #717171;
    margin: 2em 0;
    border: #00A17E solid .5em;
	width: auto;
	text-align: center;
}

legend {
    background-color: #717171;
    color: #ffffff;
    border-radius: .3em;
    margin: 0 2em 0 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    border: #096D59 solid .1em;
    padding: .3em;

}
label{
    display: block;
}
label span{
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #ffffff;
    color: #00A17E;
}
input{
	width: 90%;
    display: block;
    background-color: #717171;
    border: #096D59 solid .2em;
	margin: 2%;
	color: #ffffff;
   }

.submit {
    font-family: 'Shadows Into Light', cursive;
    color: #0E0E0E;
    font-weight: bold;
    border: #717171 solid .5em;
    border-radius: .1em;
    background-color: #00A17E;
    font-size: 1.5em;
	}
textarea, select{
    background-color: #0E0E0E;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
	border: 2px solid #00A17E;
    color: #ffffff;
	margin: 2%;
}


#title{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	text-shadow: 1px 2px 2px #717171;
	margin: 2%;
}

#title h3, #title img{
	margin-right: 2%;
}

.events p, .events h3{
	text-align: center;
	margin: .5%;
}


#require ul{
	list-style: none;
}

#require ul li{
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	text-shadow: 1px 2px 2px #717171;
	text-align: center;
	
}

#require h3{
	margin-bottom: .5%;
}

#eventinfo p, #cont-div-event{
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	text-shadow: 1px 2px 2px #717171;
}

#register{
	padding: 5%;
}

.thanks{
	margin: 5%;
	font-size: .8em;
}

.accordion {
    background-color: #0E0E0E;
    color: #096D59;
    padding: 1.5%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    transition: 0.4s;
	font-family: 'Dosis', sans-serif;
}


.active, .accordion:hover {
    background-color: #ffffff; 
}

.panel {
    padding: 0 2%;
    display: none;
    background-color: #717171;
	font-family: 'Dosis', sans-serif;
    overflow: hidden;
}
