@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    nav ul li a {
        padding: .6rem 1rem;
    } 
    
  article p.town-article img { 
      width: 29.333%; 
    }
    
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    li {
        display: inline;
        float: left;
    }
    
    .forecast {
    display: inline-table;   
    }
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
        
}
img:hover {
        box-shadow: 20px 20px 30px #034764;
    }
}