/* This main css file contains the default rules and is geared toward the small/phone view */

* { 
    box-sizing: border-box;
    background-color: #48DF00;
}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
 
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { 
    max-width: 100%;
    
    /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    
}
header h1 {
    float: center;
    font-family: 'Harlow Solid Italic', 'cursive';
    font-size: 6em;
    margin-top: 0em;
}
header img {
    float: left;
}
header .subheading {
    float: center; 
    margin-top: 2em;
    font-family: 'cooper black', 'serif'; 
}

nav {
    display: inline;
    background-color: #0777A7; 
    border: 2px solid #F5FD33; 
    margin-top: 6em;
    
}
nav button {
    
}
nav ul {
    display: inline;
    
}
nav ul li {
    
}
nav ul li a {
    
}
nav ul li.active a {
    
}
nav ul li a:hover {
    
}

main {
    margin-top: 3em;
    
}
main h2 {
    font-family: 'cooper black', 'serif';
    font-size: 3em;
    
}
main figure { 
    margin: 0 0 .2rem 2%; width:96%; 
}
main figure img { 
    width: 100%; 
}

section {
    align-content: center;
    
}

.forecast {
 display: none;   
}

h3 {
    font-family: 'cooper black', 'serif';
    font-size: 2em;
}
article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 37em; /* fill the page in the small/phone view */
  margin: auto;
}

footer {
    
}
footer aside {
    
}
footer>p {
    
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */